@use "../variables" as v;

@mixin cart_icon() {
  .amount_container {
    .cart_icon {
      font-size: 2rem;
      path {
        stroke: v.$header_color;
      }
    }
    .badge {
      background-color: v.$badge_bg_color;
      color: v.$header_color;
      font-family: v.$font-family;
      font-size: 1rem;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
      border-radius: 1.2rem;
      font-weight: 650;
    }
  }
}
