@use "../variables" as v;
@use "cart_icon" as ci;

header {
  background-color: v.$header_bg_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  h1 {
    color: white;
    font-family: v.$font-family;
    font-weight: 700;
  }
  @include ci.cart_icon();
}
