// Fuentes
$font-family: "Montserrat", sans-serif;

// Colors
$header_bg_color: rgb(30, 28, 146);
$header_color: #fff;
$badge_bg_color: rgb(148, 147, 147);
$header_cart_bg_color: mix(#fff, $header_bg_color, 20%);
$price_color: rgb(100, 107, 122);
$remove_btn: rgb(68, 68, 68);
$item_title_color: rgb(53, 53, 53);
$clear_btn_border_color: rgb(71, 4, 158);
$clear_btn_bg_color: rgba(92, 32, 231, 0.6);
